<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- Using environment variables for sensitive information -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/${UnDB_NAME}?sslmode=require</property>
        <property name="hibernate.connection.username">${UnDB_USER}</property>
        <property name="hibernate.connection.password">${UnDB_PASSWORD}</property>

        <!-- SSL Configuration -->
        <property name="hibernate.connection.ssl">true</property>
        <property name="hibernate.connection.sslfactory">org.postgresql.ssl.NonValidatingFactory</property>

        <!-- C3P0 Configuration -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Session and SQL settings -->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.default_schema">unrecorded</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.id.new_generator_mappings">true</property>

        <!-- Mapping Classes -->
        <mapping class="com.unrecorded.database.entities.EUser"/>
        <mapping class="com.unrecorded.database.entities.EFriendship"/>
        <mapping class="com.unrecorded.database.entities.EGroup"/>
        <mapping class="com.unrecorded.database.entities.EGroupMember"/>
        <mapping class="com.unrecorded.database.entities.EMessage"/>
        <mapping class="com.unrecorded.database.entities.EReaction"/>
        <mapping class="com.unrecorded.database.entities.ESession"/>
        <mapping class="com.unrecorded.database.entities.ENotification"/>
        <mapping class="com.unrecorded.database.exceptions.DataAccessException"/>
    </session-factory>
</hibernate-configuration>